$main-blue: #3CACF1
$main-red: #F76E60
$main-yellow: #FCDD34
$main-green: #47DB99
$main-purple: #F997CC

$theme-color-top: $main-blue
$theme-color-profile: $main-red
$theme-color-spec: $main-yellow
$theme-color-products: $main-green
$theme-color-contact: $main-purple

// text color
$text-black: #333

// border-color
$main-border-color: #eee


// $theme-blue: #43bbde
// $theme-red: #f41b30
// $theme-yellow: #facd00
// $theme-green: #3cbd80
// $theme-purple: #7f629a
