$main-blue: #315def
$main-red: #eb4f53
$main-yellow: #faec31
$main-green: #44d394
$main-orange: #f9b20f

$theme-color-top: $main-blue
$theme-color-profile: $main-red
$theme-color-spec: $main-yellow
$theme-color-products: $main-green
$theme-color-contact: $main-orange

// text color
$text-black: #333

// border-color
$main-border-color: #eee
